@import url('https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet');


body {
    background-image: url(./Quiz-3/img/pattern.jpg);
    font-family: 'Slabo 27px', serif;
    margin: 0px;
}

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

section {
    margin-left: 17%;
    margin-right: 17%;
    background-color: white;
    position: relative;
    top: 70px;
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

.article {
    border-bottom: 1px solid lightgrey;
}

h5 {
    text-align: center;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.Info{
    margin-left: 470px;
    margin-top: -320px;
    
}

p{
    margin-top: 200px;
}

.image{
    width: 450px;
    height: 300px;
}

.back a{
  color: white;
  font-size: medium;
}
.back button{
  background: red;
  color: white;
  padding: 8px 20px;
  border: solid;
  border-radius: 8px;
}
